.imageContainer{
  display: grid;
  padding-top: 0;
  grid-column-gap: 125px;
  margin-left: 5%;
  margin-top: 5%;
  grid-template-columns: repeat(5, 100px);
}

.puppers{
  background: white;
  margin: auto;
  margin-top: 5%;
  max-width: 100px;
  padding: 25px 50px;
  grid-column: span 1;
  transition: all 0.2s cubic-bezier(0.25, 0.82, 0.165, 1);
}

.puppers:hover {
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid lightgoldenrodyellow;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pupperBoard{
  background-color: lavenderblush;
}

.title{
  font-size: 2rem;
  display: inline-block;
  margin-left: 40%;
  padding-bottom: 1rem;
}

.instructions{
  display: inline-block;
  margin-left: 25%;
  padding-bottom: 1.5rem;
}

.status{
  display:inline-block;
  margin-left:25%;
  padding-bottom: 1.5rem;
}

.scores{
  display:flex;
  justify-content: space-evenly;
}

.score{
  font-size: 1.5rem;
}